// Colors
$primary: #000000 !default;
$secondary: #f7f7f7 !default;

$black: #000000 !default;
$white: #ffffff !default;

$success: green !default;
$danger: #f44455 !default;

// Container
$container-spacing: 40px;
$container-width: 1440px + $container-spacing;

// Define the maximum width of `.container` for different screen sizes.
$breakpoints: (
	xxxs: 0,
	xxs: 320px,
	xs: 405px,
	sm: 540px,
	md: 808px,
	lg: 1024px,
	xl: 1132px,
	xxl: 1480px,
) !default;

$container-max-widths: (
	sm: 480px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1340px,
) !default;

// Body
// Settings for the `<body>` element.
$body-bg: $white !default;
$body-color: $primary !default;

// Typography
//

// Font family
$font-family-base: 'Gotham', sans-serif !default;

$font-size-base: 1rem !default; // `16px`
$font-size-lg: $font-size-base * 1.08 !default;
$font-size-sm: $font-size-base * 0.925 !default;
$font-size-xs: $font-size-base * 0.85 !default;

$h1-font-size: $font-size-base * 2 !default;
$h2-font-size: $font-size-base * 1.75 !default;
$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.35 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base * 1.175 !default;
