.button {
	@include button-reset();
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $primary;
	border-radius: 25px;
	color: $white;
	font-size: 16px;
	font-weight: 600;
	padding: 6px 12px;
	min-height: 50px;
	min-width: 120px;
	transition: all 0.25s ease-in-out;

	// Icon
	i {
		margin-right: 7px;
		font-size: 18px;
		color: $white;
	}

	// :hover
	&:hover {
		background-color: #6b6b6b;
	}
}
