html, body{
    height: 100%;
    font-size: $font-size-base !important;
    font-weight: 400;
    background-color: $body-bg;
    color: $body-color;
    font-family: $font-family-base;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}